<div class="container justify-content-center">
    <h1>Thank you for your purchase! Please transfer the purchase amount to the following account: </h1>
    <div style="border: 2px solid #f9f9f9;">
        <p class="m-3">Bank Name: Illusional Bank</p>
        <p class="m-3">Recipient: Furry Pal</p>
        <p class="m-3">IBAN: DE89 3704 0044 0532 0130 00</p>
    </div>
    <hr/>
    <h6>You will also find a receipt and further details regarding your order in "your orders".</h6>
    <div class="text-center">
        <button class="btn btn-primary">
            <a asp-controller="Home" asp-action="Index">Continue Shopping</a>
        </button>
    </div>
    <br/>
</div>


