@{
    ViewData["Title"] = "Home Page";
}

<div class="background">
    <h2 class="text-center" id="greeting-heading">Happy Shopping!</h2>
    <div class="row justify-content-center">
        <div class="col-6">
            <section>
                <input type="text" class="form-control" placeholder="What are you looking for today?🥳" id="search">
                <div class="input-group-append">
                    <button class="btn" id="btn-search" type="button">Search</button>
                </div>
            </section>
        </div>
    </div>
</div>
 
