/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*TODO: choose a nice font */
    color: #4e555b;
}

html {
    position: relative;
    min-height: 100%;
}

hr {
    background:  #a69b97;
    height: .03rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-color: #00695c !important;
    border-color: #00695c;
}

.nav-link {
    color: #fffffb;
}

.nav-link:hover {
    color: #fffffb;
}

.navbar-brand {
    color: #fffffb;
}

#home-icon {
    width: 1.5em;
    height: 1.5em;
}

.dropdown-item:hover {
    background-color: #d7ccc8;
}

#email-verification {
    color: #003d33 !important;
}

a {
    color: #003d33;
    text-decoration: none;
}

.text-danger {
    background-color: rgba(244, 67, 54, 0.7) !important;
    color: #fffffb !important;
}

body > div > div > div > div > section > form > div.text-danger.validation-summary-errors > ul > li {
    margin: 0 0 3px 0;
    list-style: square;
}

.btn {
    border-radius: 0px;
    background-color: transparent;
    color: #fffffb;
}

.btn-primary {
    background-color: #d7ccc8 !important;
    border-color: #d7ccc8 !important;
    color: black;
    height: 3em;
    width: 8em;
}

.btn-primary:hover {
    color: #000000;
}

.btn-primary {
    border-color: #d7ccc8 !important;
    outline: none !important;
    --box-shadow-color: #d7ccc8 !important;
    box-shadow: 0 0 0 0.1rem #d7ccc8 !important;
    height: 3em;
    width: 8em;
}

.btn-warning {
    background-color: rgba(255, 152, 0, 0.7);
    outline: none !important;
    --box-shadow-color: rgba(255, 152, 0, 0.7) !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 152, 0, 0.7) !important;
}

.btn-danger {
    background-color: rgba(244, 67, 54, 0.7) !important;
    outline: none !important;
    --box-shadow-color: rgba(244, 67, 54, 0.7) !important;
    box-shadow: 0 0 0 0.1rem rgba(244, 67, 54, 0.7) !important;
    height: 3em;
    width: 8em;
}

.form-control {
    border-color: #d7ccc8 !important;
}

.form-control:focus {
    border-color: #d7ccc8 !important;
    outline: none !important;
    --box-shadow-color: #d7ccc8 !important;
    box-shadow: 0 0 0 0.1rem #d7ccc8 !important;
    background-color: transparent;
}

li.active.nav-item.account-manage {
    background-color: #d7ccc8;
    border-radius: .25rem;
}


.account-manage > .nav-link {
    color: black;
}

.nav flex-column {
    margin-bottom: 2em;
}


footer {
    background-color: #00695c;
    border-color: #00695c;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    color: #fffffb;
    padding: 15px;
}

