/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*TODO: choose a nice font */
    color: #4e555b;
    font-family: 'Work Sans', sans-serif !important;
}

body, html {
    height: 100%;
}

.background {
    height: 100% !important;
    /*background: url("https://res.cloudinary.com/dqpvoobij/image/upload/v1544193505/furrypal-home-bg-image.jpg") no-repeat center;*/
    background: url("https://res.cloudinary.com/dqpvoobij/image/upload/v1544443739/292951-P6WQQY-353.jpg") no-repeat center;
    background-size: cover;
}

hr {
    background: #a69b97;
    height: 0.01rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

/*Wrapping element */
/*Set some basic padding to keep content from hitting the edges */

.navbar {
    background-color: #00695c;
}

.nav-link, .nav-link:hover, .navbar-brand, footer {
    color: #fffffb;
}

.icon {
    width: 2em;
    height: 2em;
}

#search:focus {
    background-color: white !important;
    border-bottom: 1px solid black !important;
}

#search {
    border: 0 !important;
    outline: 0 !important;
    border-radius: 0;
    border-bottom: 1px solid black !important;
    background: transparent !important;
}

#btn-search {
    color: #439889;
}

.dropdown-item:hover {
    background-color: #d7ccc8;
}

#greeting-heading {
    margin: 0 !important;
    padding: 2rem;
}

#email-verification {
    color: #003d33 !important;
}

a {
    color: #003d33;
    text-decoration: none!important;
    font-weight: bold;
}

.text-danger {
    background-color: rgba(244, 67, 54, 0.7) !important;
    color: #fffffb !important;
}

body > div > div > div > div > section > form > div.text-danger.validation-summary-errors > ul > li {
    margin: 0 0 3px 0;
    list-style: square;
}

.btn {
    border-radius: 0;
    background-color: transparent;
    color: #fffffb;
    font-weight: bold;
}

.btn-primary {
    background-color: #d7ccc8 !important;
    border-color: #d7ccc8 !important;
    color: black;
    outline: none !important;
    --box-shadow-color: #d7ccc8 !important;
    box-shadow: 0 0 0 0.1rem #d7ccc8 !important;
}

.btn-primary a:hover {
    color: #fffffb!important;
}

.btn-warning {
    background-color: rgba(255, 152, 0, 0.7);
    outline: none !important;
    --box-shadow-color: rgba(255, 152, 0, 0.7) !important;
    box-shadow: 0 0 0 0.1rem rgba(255, 152, 0, 0.7) !important;
}

.btn-danger {
    background-color: rgba(244, 67, 54, 0.7) !important;
    outline: none !important;
    --box-shadow-color: rgba(244, 67, 54, 0.7) !important;
    box-shadow: 0 0 0 0.1rem rgba(244, 67, 54, 0.7) !important;
}

.form-control {
    border-color: #d7ccc8 !important;
}

.form-control:focus {
    border-color: #d7ccc8 !important;
    outline: none !important;
    --box-shadow-color: #d7ccc8 !important;
    box-shadow: 0 0 0 0.1rem #d7ccc8 !important;
    background-color: transparent;
}

li.active.nav-item.account-manage {
    background-color: #d7ccc8;
    border-radius: .25rem;
}

.account-manage > .nav-link {
    color: black;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.category-item:hover {
    background: none;
}

.category-item {
    padding: 1.0rem;
}

#leashes, #leashes-btn {
    background-color: #b2dfdb !important;
}

#toys, #toys-btn {
    background-color: #a5d6a7;
}

#bowls, #bowls-btn {
    background-color: #ef9a9a;
}

#beds, #beds-btn {
    background-color: #9fa8da;
}

#food, #food-btn {
    background-color: #ffcc80;
}

#collars, #collars-btn {
    background-color: #929fba;
}

footer {
    background-color: #00695c;
}

.contact-footer {
    background-color: #439889;
    color: #fffffb;
}

.product-card, .card {
    margin: 2rem !important;
}

.card-img-top {
    width: 20rem;
    height: 20rem;
}

#price {
    color: #f44336;
    font-weight: bold;
}

#product-name-details-page {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

#in-stock {
    color:#4caf50;
}

#few-available {
    color: #ff9800;
}

#not-in-stock {
    color: #f44336;
}

.auto-shipping {
    color: #ff9800;
    font-weight: bold;
}

#description-tab, #additional-info-tab {
    color: #4e555b;
    background-color: #f9f9f9;
}

#description-tab:focus, #additional-info-tab:focus {
    border-top: 3px solid  #00695c;
}

.payment-option {
    font-size: 1.5em;
}

.shipment-options {
    font-size: 2em;
}