@model IEnumerable<AllManufacturersViewModel>
 
 @{
     ViewData["Title"] = "All Manufacturers";
     Layout = "_AdminLayout";
 }
 
 <h2>@ViewData["Title"]</h2>
 
 @foreach (var category in @Model)
 {
     <ul>
         <li>@category.Name</li>
         <li>@category.Email</li>
         <li>@category.PhoneNumber</li>
     </ul>
 }