@page
@model AddressAndBillingInformationModel
@{
    ViewData["Title"] = "Address Information";
}

<partial name="_StatusMessage", model="Model.StatusMessage"/>

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="container m-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <label asp-for="Input.CountryName"></label>
                    <input asp-for="Input.CountryName" class="form-control"/>
                    <span asp-validation-for="Input.CountryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CityName"></label>
                    <input asp-for="Input.CityName" class="form-control"/>
                    <span asp-validation-for="Input.CityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ZipCode"></label>
                    <input asp-for="Input.ZipCode" class="form-control"/>
                    <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.StreetName"></label>
                    <input asp-for="Input.StreetName" class="form-control"/>
                    <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.HouseNumber"></label>
                    <input asp-for="Input.HouseNumber" class="form-control"/>
                    <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                </div>
                <div class="text-center m-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="text-center">
                    <button onclick="window.history.back()" class="btn btn-primary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
