<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FurryPalSupplies</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
    </environment>
</head>
<body>

<partial name="_ClientNavigationPartial" />

@RenderBody()


<footer>
    <div class="container-fluid contact-footer">
        <div class="row">
            @* TODO: add all of the following at some point *@
            <div class="col-4">
                <h6>Add Facebook Icon Here</h6>
                <h6>Add Instagram Icon Here</h6>
            </div>
            <div class="col-4">
                <h6>Contact</h6>
                <h6>Address Street 1</h6>
                <h6>12345 Zip Code</h6>
                <h6>+4917654398012</h6>
            </div>
            <div class="col-4">
                <h6>Chat with us via Messanger</h6>
                <h6>Messanger Chat goes here</h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright Furry Pal - Dog Supplies Store
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
