@using FurryPal.Common
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleConstants.User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm" class="navbar-nav ml-auto">
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi, @UserManager.Users.FirstOrDefault().FirstName!</a>
            </li>
            <li class="nav-item">
                <button type="submit">Logout</button>
            </li>
        </ul>
    </form>
}
@if (SignInManager.IsSignedIn(User) && User.IsInRole(RoleConstants.Administrator))
{  
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm" class="navbar-nav ml-auto">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="submit">Logout</button>
            </li>
        </ul>
    </form>
}

@if(!SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}