<a class="dropdown-item category-item" id="leashes" asp-controller="" asp-action="">
    <b>leashes</b><img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544193528/Category_Leashes.png" alt="leashes">
</a>
<a class="dropdown-item category-item" id="toys" asp-controller="" asp-action="">
    <b>toys</b> <img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544193527/Category_Toys.png" alt="toys">
</a>
<a class="dropdown-item category-item" id="bowls" asp-controller="" asp-action="">
    <b>bowls</b> <img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544193528/Category_Bowls.png" alt="bowls">
</a>
<a class="dropdown-item category-item" id="beds" asp-controller="" asp-action="">
    <b>beds</b> <img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544193528/Category_Beds.png" alt="beds">
</a>
<a class="dropdown-item category-item" id="food" asp-controller="" asp-action="">
    <b>food</b> <img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544193528/Category_Food.png" alt="food">
</a>
<a class="dropdown-item category-item" id="collars" asp-controller="" asp-action="">
    <b>collars</b> <img class="icon text-center" src="https://res.cloudinary.com/dqpvoobij/image/upload/v1544195644/Category_Collars.png" alt="collars">
</a>

